/* set z-index for the style */
#map {
	z-index: 5;
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: #D3D3D3;
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin: 0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div.input-box input {
  font-size: 1.5rem;
  border: 1px solid #ccc;
  padding: 4px 8px;
  flex: 1;
}
 
.myButton {
	box-shadow:inset 0px 0px 19px -1px #fff6af;
	background-color:#ffec64;
	border-radius:11px;
	border:2px solid #ffa600;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffa600;
}
.myButton:hover {
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* POPUP style*/
/*wards popup style*/
.custom-popup .leaflet-popup-content-wrapper {
	border-radius: 12px;
	background:grey;
	color: white;
	font-size:15px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.custom-popup .leaflet-popup-tip{
	background:#3d4849;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.custom-popup .leaflet-popup-close-button{
	display: none;
}
.custom-popup .leaflet-popup-content{
	margin: 2px 7px;
    line-height: 1.395;
}

/*POI's popup style*/
.poi-popup .leaflet-popup-content-wrapper {
	border-radius: 12px;
	background: #ffa500;
	color: white;
	font-size:14px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.poi-popup .leaflet-popup-tip{
	background:#f75316;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.poi-popup .leaflet-popup-close-button{
	display: none;
}
.poi-popup .leaflet-popup-content{
	margin: 2px 7px;
    line-height: 1.395;
}
/*pharmacy HS popup style*/
.phs-popup .leaflet-popup-content-wrapper {
	border-radius: 12px;
	background:#710193;
	color: white;
	font-size:15px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.phs-popup .leaflet-popup-tip{
	background: #a32cc4;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.phs-popup .leaflet-popup-close-button{
	display: none;
}
.phs-popup .leaflet-popup-content{
	margin: 2px 7px;
    line-height: 1.395;
}
/*Hospital HS popup style*/
.hhs-popup .leaflet-popup-content-wrapper {
	border-radius: 12px;
	background:#b01919;
	color: white;
	font-size:15px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.hhs-popup .leaflet-popup-tip{
	background: red;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.hhs-popup .leaflet-popup-close-button{
	display: none;
}
.hhs-popup .leaflet-popup-content{
	margin: 2px 7px;
    line-height: 1.395;
}
/*clinic HS popup style*/
.chs-popup .leaflet-popup-content-wrapper {
	border-radius: 12px;
	background:#d6d602;
	color: white;
	font-size:15px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.chs-popup .leaflet-popup-tip{
	background: yellow;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.chs-popup .leaflet-popup-close-button{
	display: none;
}
.chs-popup .leaflet-popup-content{
	margin: 2px 7px;
    line-height: 1.395;
}
/* zoom buttons styling */
.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #D3D3D3;
    border-bottom: 1px solid #333;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: blink;
    color: #333;
    box-shadow: 0 0 black;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    font: 14.4px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
}
/* scale bar style*/
.leaflet-control-scale-line {
    border: 2px solid #777;
    border-top: none;
    line-height: 1.1;
    padding: 2px 5px 1px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    background: #D3D3D3;
}
/* attribution style */
.leaflet-container .leaflet-control-attribution {
    background: #fff;
    background: #D3D3D3;
    margin: 0;
}
